<div class="mb-4" width="200">
  <img *ngIf="member.photoUrl != null" class="card-img-top" src="{{member.photoUrl}}" alt="{{member.name}}" height="200" width="200" />
  <img *ngIf="member.photoUrl == null" class="card-img-top" src="../../../assets/default.png" alt="Card Image" height="200" width="200" />
  <div class="card-body">
    <h6 class="card-title"><i class="fa fa-user mr-1"></i><strong>{{member.name}}, {{member.age}}, {{member.city}}, {{member.LastActive | timeAgo}}</strong></h6>

  </div>
</div>
